<!doctype html>
<html>
  <head>
    <title>{{ shop.name }}</title>
    {{ content_for_header }}
  </head>
  <body>
    <main>
      {% section 'hero-section' %}
      {% section 'text-with-image' %}
      {% section 'product-grid' %}
      {% section 'testimonials' %}
      {% section 'contact-form' %}
    </main>
    {% section 'footer-section' %}
    {{ content_for_footer }}
  </body>
</html>
